In [1]:
import numpy as np
import pandas as pd

In [2]:
# Menu structured as a list of data frames
bad_menu = []
good_menu = []
# menu button dims 8*3

In [3]:
#create all dfs for menus
# df naming convention: (list position)_(Official name on menu)_(bad/good menu)
df1_DEL_Retail_OLO_good = pd.DataFrame(columns=['Retail Rice','OLO','Pint Sauces','1Oz Sauces','Restaurant'])
df1_DEL_Retail_OLO_bad = pd.DataFrame(columns=['Retail Rice','Retail Sauce','1 Oz Sauces'])

df1_retail_rice_bad = ["Brown Rice 2 Sv", "HBR 2 Srv", "HBR 4 Srv","HCR 2 Serv", "HCR 4 Serv", "HSR 2 Serv", "HSR 4 Serv","Spicy HBR 2 Srv","Spicy HBR 4 Srv","Spcy HCR 2 Srv","Spcy HCR 4 Srv","Spicy HSR 2 Srv", "Spicy HSR 4 Srv", "Steam Rice 2 Sv","Veg FR 2 Srv", "Veg FR 4 Srv",'Guest Name','Phone Number','OT Order ', 'OLO - Disp Fee', 'Single Use Item']
# replacing inconsistencies in the menu names
df1_OLO_good =['Guest Name','Phone Number','OT Order #', 'OLO - Disp Fee', 'Single Use Item']
df1_retail_rice_good = [i.replace('Serv','Srv').replace("Veg FR",'VFR').replace("Spicy ", "Sp ").replace("Spcy","Sp") for i in df1_retail_rice_bad][:-5]


df1_Retail_sauce_bad = ['Gar Sauce 1pnt', "Ginger Sau Pnt","Hot Sauce 4oz","Mustard Sau Pnt","Salad Dress Pnt","Teri Sauce Pint","Yum Yum Sau Pnt"]
# replacing inconsistencies in the menu names
df1_Retail_Pintsauce_good = [i.replace("Gar","Garlic").replace("Sauce","Sau").replace("Pint","Pnt").replace("1pnt",'Pnt')for i in df1_Retail_sauce_bad]

df1_1oz_sauce_bad = ['Avo Tar Sau 1oz','Diablo Sau 1oz','Eel Sau 1oz','Garlic Sau 1oz','Gingr Drsng 1oz', 'Ginger Sau 1oz','Hot Sauce 1oz','Mustard Sau 1oz','Sp Ter Sau 1oz','Spicy Mayo 1oz','Teri Sauce 1oz','Yum Yum Sau 1oz']
# replacing inconsistencies in the menu names
df1_Retail_1oz_sauce_good = [i.replace("Sauce","Sau").replace("Ter ","Teri ").replace("Spicy ", "Sp ") for i in df1_1oz_sauce_bad]

In [4]:
def check_char_limit(data_list):
    more_than_15 = False
    for (i in data_list):
        if len(i) > 15:
            print(i)
            more_than_15 = True
    if more_than_15 == True:
        return False
    else:
        return True

In [35]:
def df_maker(df, col_dict, restaurant=None):
    largest_size_list = max(len(data_list) for data_list in col_dict.values())
    if restaurant is not None:
        restaurant_list = np.array([restaurant for i in range(largest_size_list)])
        df['Restaurant'] = restaurant_list
    for col, data_list in col_dict.items():
        flag = check_char_limit(data_list)
        if flag == False:
            print("LABEL GREATER THAN 15 CHARS")
            return ValueError
        if col == 'Restaurant':
            pass
        size = len(data_list)
        df[col] = ['-' for _ in range(largest_size_list)]
        df.loc[0:size - 1, col] = data_list
    return df

# Example usage
df1_DEL_Retail_OLO_bad = df_maker(df1_DEL_Retail_OLO_bad, {\
    'Retail Sauce': df1_Retail_sauce_bad,\
    'Retail Rice': df1_retail_rice_bad,\
    '1 Oz Sauces': df1_1oz_sauce_bad
})

In [6]:
df1_DEL_Retail_OLO_good = df_maker(df1_DEL_Retail_OLO_good, 
    {'Retail Rice':df1_retail_rice_good, 
    'OLO':df1_OLO_good, 
    "Pint Sauces":df1_Retail_Pintsauce_good, 
    '1Oz Sauces':df1_Retail_1oz_sauce_good},'Benihana')
df1_DEL_Retail_OLO_good

,Retail Rice,OLO,Pint Sauces,1Oz Sauces,Restaurant
0,Brown Rice 2 Sv,Guest Name,Garlic Sau Pnt,Avo Tar Sau 1oz,Benihana
1,HBR 2 Srv,Phone Number,Ginger Sau Pnt,Diablo Sau 1oz,Benihana
2,HBR 4 Srv,OT Order #,Hot Sau 4oz,Eel Sau 1oz,Benihana
3,HCR 2 Srv,OLO - Disp Fee,Mustard Sau Pnt,Garlic Sau 1oz,Benihana
4,HCR 4 Srv,Single Use Item,Salad Dress Pnt,Gingr Drsng 1oz,Benihana
5,HSR 2 Srv,-,Teri Sau Pnt,Ginger Sau 1oz,Benihana
6,HSR 4 Srv,-,Yum Yum Sau Pnt,Hot Sau 1oz,Benihana
7,Sp HBR 2 Srv,-,-,Mustard Sau 1oz,Benihana
8,Sp HBR 4 Srv,-,-,Sp Teri Sau 1oz,Benihana
9,Sp HCR 2 Srv,-,-,Sp Mayo 1oz,Benihana
10,Sp HCR 4 Srv,-,-,Teri Sau 1oz,Benihana
11,Sp HSR 2 Srv,-,-,Yum Yum Sau 1oz,Benihana
12,Sp HSR 4 Srv,-,-,-,Benihana
13,Steam Rice 2 Sv,-,-,-,Benihana
14,VFR 2 Srv,-,-,-,Benihana
15,VFR 4 Srv,-,-,-,Benihana

In [7]:
# First good menu item
df1_DEL_Retail_OLO_good = df_maker(df1_DEL_Retail_OLO_good, 
    {'Retail Rice':df1_retail_rice_good, 
    'OLO':df1_OLO_good, 
    "Pint Sauces":df1_Retail_Pintsauce_good, 
    '1Oz Sauces':df1_Retail_1oz_sauce_good})
good_menu.append(df1_DEL_Retail_OLO_good)

In [8]:
# 2nd Menu Item
df2_DEL_app_sides_bad = pd.DataFrame(columns=['Appetizers','Sides'])
df2_DEL_app_sides_good = pd.DataFrame(columns=['Appetizers','Sides',"Restaurant"])

df2_appetizer_bad = ['Chili Pnzu Ytai', 'Crsp Rce Sp Slm', 'Crsp Rce Sp Tna','Crsp Rce Sp Ytl','Edamame','Onion Rings','Gyoza Beef','Gyoza Eda Veg','Gyoza Pork','Gyoza Spicy Chk', 'Hib Short Ribs','Ribs Sampler', 'Sal Avo Sashimi','Sashimi Sampler','Seared Tuna','Spicy Eda','Sushi Sampler','Takoyaki','Tuna Pokè App','Wings Appetizer']
df2_appetizer_good = ['Chili Pon Ytail', 'Crsp Rce Sp Slm']
df2_appetizer_good_2nd = [i.replace("Spicy","Sp")  for i in df2_appetizer_bad]
df2_appetizer_good.extend(df2_appetizer_good_2nd)

# Why is there more rice here????

df2_sides_bad = ['Beni Salad','Brwn Rice 1 Sv','Calamari Saute','HBR 1 Serv','HCR 1 Serv','HSR 1 Serv','Miso Soup','Mushroom','Onion','Onion Soup','Scallop Saute','Seaweed Salad','Seaweed Sal Cmb','Shrimp Saute','Shrimp Tempura','Soft Shell Crab','Sp Seaweed Sal', 'Spicy HBR 1 Sv', 'Spicy HCR 1 Srv','Spicy HSR 1 Sv','Veg FR 1 Serv','Veg Mix Saute','Veg Tempura','White Noodle','Zucchini'] # Sv/Serv->Srv, 
df2_sides_good = [i.replace("Sv","Srv").replace("Brown","Brwn").replace("Spicy","Sp") for i in df2_sides_bad]

df2_DEL_app_sides_bad = df_maker(df2_DEL_app_sides_bad, {
                                                        "Appetizers":df2_appetizer_bad,
                                                        "Sides":df2_sides_bad
                                                        })

df2_DEL_app_sides_good = df_maker(df2_DEL_app_sides_good, {
                                                        "Appetizers":df2_appetizer_good,
                                                        "Sides":df2_sides_good
                                                        },'Benihana')

In [9]:
df2_DEL_app_sides_good

         Appetizers            Sides Restaurant
0   Chili Pon Ytail       Beni Salad   Benihana
1   Crsp Rce Sp Slm  Brwn Rice 1 Srv   Benihana
2   Chili Pnzu Ytai   Calamari Saute   Benihana
3   Crsp Rce Sp Slm       HBR 1 Serv   Benihana
4   Crsp Rce Sp Tna       HCR 1 Serv   Benihana
5   Crsp Rce Sp Ytl       HSR 1 Serv   Benihana
6           Edamame        Miso Soup   Benihana
7       Onion Rings         Mushroom   Benihana
8        Gyoza Beef            Onion   Benihana
9     Gyoza Eda Veg       Onion Soup   Benihana
10       Gyoza Pork    Scallop Saute   Benihana
11     Gyoza Sp Chk    Seaweed Salad   Benihana
12   Hib Short Ribs  Seaweed Sal Cmb   Benihana
13     Ribs Sampler     Shrimp Saute   Benihana
14  Sal Avo Sashimi   Shrimp Tempura   Benihana
15  Sashimi Sampler  Soft Shell Crab   Benihana
16      Seared Tuna   Sp Seaweed Sal   Benihana
17           Sp Eda     Sp HBR 1 Srv   Benihana
18    Sushi Sampler     Sp HCR 1 Srv   Benihana
19         Takoyaki     Sp HSR 1 Srv   Benihana
20    Tuna Pokè App    Veg FR 1 Serv   Benihana
21  Wings Appetizer    Veg Mix Saute   Benihana
22                -      Veg Tempura   Benihana
23                -     White Noodle   Benihana
24                -         Zucchini   Benihana

In [10]:
#3rd Menu Item
df3_DEL_lunch_bad = pd.DataFrame(columns=['Lunch',"Rice"])
df3_DEL_lunch_good = pd.DataFrame(columns=['Lunch'])

df3_lunch_bad = ['Boat Steak','Boat Chick','Boat Col Sh','Boat FM','Boat Salm','Beef Juli L','Filet Mignon L','Hib Chicken L','Hib Steak L','Hib Ckn Bowl','Hib Shrmp Bowl','Hib Stk Bowl','L Sushi Combo','Lunch Duet','Poke Bowl Salm','Poke Bowl Tuna','Scallops L','Spcy Hib Ch L','Yaki Chkn L','Yaki Shrimp L','Yaki Steak L']
df3_rice_bad = ['HCR 1 Serv','Spicy HCR 1 Srv','HBR 1 Serv','HSR 1 Serv','Veg FR 1 Serv']

df3_lunch_good = [i.replace("Chicken","Ckn").replace("Chick",'Ckn').replace("Salmon",'Slm').replace("Steak","Stk").replace("Lunch","L").replace("Shrimp","Shr").replace("Spcy","Sp").replace("Chkn","Ckn") for i in df3_lunch_bad]
df3_rice_good = [i.replace("Serv","Srv").replace("Spicy","Sp").replace("Veg FR","VFR") for i in df3_rice_bad]

df3_DEL_lunch_bad = df_maker(df3_DEL_lunch_bad, {"Lunch":df3_lunch_bad, "Rice":df3_rice_bad})
df3_lunch_good.extend(df3_rice_good)
df3_DEL_lunch_good = df_maker(df3_DEL_lunch_good, {"Lunch":df3_lunch_good},'Benihana')

In [11]:
df3_DEL_lunch_good

             Lunch Restaurant
0         Boat Stk   Benihana
1         Boat Ckn   Benihana
2      Boat Col Sh   Benihana
3          Boat FM   Benihana
4        Boat Salm   Benihana
5      Beef Juli L   Benihana
6   Filet Mignon L   Benihana
7        Hib Ckn L   Benihana
8        Hib Stk L   Benihana
9     Hib Ckn Bowl   Benihana
10  Hib Shrmp Bowl   Benihana
11    Hib Stk Bowl   Benihana
12   L Sushi Combo   Benihana
13          L Duet   Benihana
14  Poke Bowl Salm   Benihana
15  Poke Bowl Tuna   Benihana
16      Scallops L   Benihana
17     Sp Hib Ch L   Benihana
18      Yaki Ckn L   Benihana
19      Yaki Shr L   Benihana
20      Yaki Stk L   Benihana
21       HCR 1 Srv   Benihana
22    Sp HCR 1 Srv   Benihana
23       HBR 1 Srv   Benihana
24       HSR 1 Srv   Benihana
25       VFR 1 Srv   Benihana

In [12]:
df4_DEL_sroll_kids_bad = pd.DataFrame(columns=['Sushi Roll','Kids Menu'])
df4_DEL_sroll_kids_good = pd.DataFrame(columns=['Sushi Roll','Kids Menu'])

In [13]:
df4_sroll_bad = ["Alaskan Roll","Cali Roll",'Chili Shmp Roll','Cucumber Roll','Dragon Roll','Eel Roll','Gojira Roll','Las Vegas Roll','Lobster Roll','Philly Roll','Rainbow Roll','Salmon Roll','Salmon Avo RL','Shr Temp Roll','Sp Lotus RL','Sp Salmon Roll', 'Spider Roll','Sumo Roll','Tuna Roll','YellowTail Roll','Vegetable Roll']
df4_kids_bad = ['Kid Cali Roll','Kid Chicken','Kid Ckn Temp','Kid Ckn Tender','Kids Eda','Kid FM','Kid FM & Chk','Kid FM & Shrimp','Kid HCR 1 Serv','Kid Ndle Side','Kid Shrimp','Kid Steak','Kid Sh & Ch','Kid St & Ch','Kid St & Sh']

df4_sroll_good = [i.replace("Salmon","Slm").replace("RL","Roll").replace("YellowTail","YTail").replace("Shmp","Shr") for i in df4_sroll_bad ]
df4_kids_good = [i.replace("Chicken",'Ckn').replace("Eda","Edamame").replace("Steak",'Stk').replace("Shrimp","Shr").replace("Sh","Shr").replace("St","Stk").replace("Ch",'Ckn').replace("Serv",'Srv')   for i in df4_kids_bad]

In [14]:
df4_DEL_sroll_kids_bad =  df_maker(df4_DEL_sroll_kids_bad, {"Sushi Roll": df4_sroll_bad, "Kids Menu": df4_kids_bad })
df4_DEL_sroll_kids_good = df_maker(df4_DEL_sroll_kids_good,{"Sushi Roll": df4_sroll_good, "Kids Menu": df4_kids_good},'Benihana' )

In [15]:
df4_DEL_sroll_kids_good

        Sushi Roll       Kids Menu Restaurant
0     Alaskan Roll   Kid Cali Roll   Benihana
1        Cali Roll         Kid Ckn   Benihana
2   Chili Shr Roll    Kid Ckn Temp   Benihana
3    Cucumber Roll  Kid Ckn Tender   Benihana
4      Dragon Roll    Kids Edamame   Benihana
5         Eel Roll          Kid FM   Benihana
6      Gojira Roll   Kid FM & Cknk   Benihana
7   Las Vegas Roll   Kid FM & Shrr   Benihana
8     Lobster Roll   Kid HCR 1 Srv   Benihana
9      Philly Roll   Kid Ndle Side   Benihana
10    Rainbow Roll        Kid Shrr   Benihana
11        Slm Roll        Kid Stkk   Benihana
12    Slm Avo Roll   Kid Shr & Ckn   Benihana
13   Shr Temp Roll   Kid Stk & Ckn   Benihana
14   Sp Lotus Roll   Kid Stk & Shr   Benihana
15     Sp Slm Roll               -   Benihana
16     Spider Roll               -   Benihana
17       Sumo Roll               -   Benihana
18       Tuna Roll               -   Benihana
19      YTail Roll               -   Benihana
20  Vegetable Roll               -   Benihana

In [16]:
df5_DEL_susa_bad = pd.DataFrame(columns=['Sushi','Sashimi'])
df5_DEL_susa_good = pd.DataFrame(columns=['Sushi','Sashimi'])

df5_sushi_bad = ['Albacore Sushi','Eel Sushi','Egg Sushi','Krabstck Sushi','Octopus Sushi','Salmon Sushi','Shrimp Sushi','Smelt Roe Sushi','Smkd Salm Sushi','Snapper Sushi','Tuna Sushi','YlwTail Sushi']
df5_sashi_bad = ['Alb Tuna Sashim','Eel Sashimi','Egg Sashimi','Krabstk Sashimi','Octopus Sashimi','Shrimp Sashimi','Salm Roe Sashi','Smkd Salm Sashi','Snapper Sashimi','Tuna Sashimi', 'YellowTail Sash']

df5_sushi_good = [i.replace("Albacore",'Alb Tna').replace("Salmon",'Slm').replace("Salm","Slm").replace("Shrimp","Shr").replace("Tuna","Tna").replace("YlwTail","YTail") for i in df5_sushi_bad]
df5_sashi_good = [i.replace("Tuna","Tna").replace("Shrimp","Shr").replace("Sashimi","Sash").replace("Sashim","Sash").replace("YellowTail","YTail") for i in df5_sashi_bad]

df5_DEL_susa_bad =  df_maker(df5_DEL_susa_bad , {"Sushi": df5_sushi_bad,"Sashimi": df5_sashi_bad})
df5_DEL_susa_good = df_maker( df5_DEL_susa_good, {"Sushi": df5_sushi_good ,"Sashimi":df5_sashi_good},"Benihana")

In [17]:
df6_DEL_entree_bad = pd.DataFrame(columns=['Meat','Seafood','Specialties','Sushi Entree'])
df6_DEL_entree_good = pd.DataFrame(columns=['DEL Ent Meat','Seafood','Specialties','Sushi Entree'])

df6_meat_bad = ['Chateaubriand','Filet Mignon','Hib Chicken','Hib Ribeye','Hibachi Steak','Spicy Hib Chk','Teriyaki Chk','Teri Steak']
df6_seafood_bad = ['Hib Col Shrmp','Hib Scallops','Hib Shrimp',"Hib Tuna Stk",'Ocean Treasure',"Sal Avo Tartar",'Sp Hib Shrimp','Surf Side','Twin Lob Tails',"HCR 1 Serv"] #Rice bc why??
df6_specialties_bad = ['Beni Delight','Beni Excellence','Beni Special','Benihana Trio','Deluxe Treat','Emperor Feast','Hib Supreme','Land & Sea','R Ch Sk & Chk','Ribeye & Ckn','Ribeye & Col Sh','Ribeye & Lob','Ribeye & Scal','Samurai Treat','Splash & Meadow']
df6_sentree_bad = ['Chirashi Entree','Sashimi Assort','Nigiri Assort','Sushi Deluxe']

df6_meat_good = [i.replace("Chicken","Ckn").replace("Hibachi",'Hib').replace("Spicy","Sp").replace("Teriyaki","Teri").replace("Steak","Stk") for i in df6_meat_bad]
df6_seafood_good = [i.replace("Shrmp","Shr").replace("Shrimp","Shr").replace("Serv","Srv").replace("Sal","Slm") for i in df6_seafood_bad] 
df6_specialties_good = [i.replace("Benihana","Beni").replace("R Ch Sk & Chk","Rocky's Choice").replace("Ribeye","Rbeye").replace("Sh","Shr") for i in df6_specialties_bad]

df6_DEL_entree_bad  = df_maker(df6_DEL_entree_bad, {"Meat":df6_meat_bad ,"Seafood":df6_seafood_bad ,"Specialties":df6_specialties_bad ,"Sushi Entree":df6_sentree_bad })
df6_DEL_entree_good = df_maker(df6_DEL_entree_good, {"Meat":df6_meat_good ,"Seafood": df6_seafood_good,"Specialties": df6_specialties_good,"Sushi Entree":df6_sentree_bad },'Benihana')

In [18]:
df7_DEL_fam_bad = pd.DataFrame(columns=['For 2','For 4','For 6','Boxes'])
df7_DEL_fam_good = pd.DataFrame(columns=['For 2','For 4','For 6','Boxes'])

df7_for2_bad = ['Ckn & Shp for 2','FM w/Gar Sau 2','FM & Scallops 2','GAR FM/Sp Shp 2','Sp Shrmp for 2','Stk & Ckn for 2','Stk & Shp for 2','Sushi for 2','Wings & HCR 2', 'Wings for 2']
df7_for4_bad = ['Ckn & Shp for 4','FM w/Gar Sau 4','FM & Scallops 4','GAR FM/Sp Shp 4','Sp Shrmp for 4','Stk & Ckn for 4','Stk & Shp for 2','Sushi for 4','Wings & HCR 4', 'Wings for 4']
df7_for6_bad = ['Ckn & Shp for 6','FM w/Gar Sau 6','FM & Scallops 6','GAR FM/Sp Shp 6','Sp Shrmp for 6','Stk & Ckn for 6','Stk & Shp for 2','Sushi for 6','Wings & HCR 6', 'Wings for 6']
df7_boxes = ['Appetizer Box','Box Din for 2']

df7_for2_good = [i.replace("for ",'').replace("Shp","Shr").replace("Shrmp","Shr") for i in df7_for2_bad]
df7_for4_good = [i.replace("for ",'').replace("Shp","Shr").replace("Shrmp","Shr") for i in df7_for4_bad]
df7_for6_good = [i.replace("for ",'').replace("Shp","Shr").replace("Shrmp","Shr") for i in df7_for6_bad]

df7_DEL_fam_bad  = df_maker(df7_DEL_fam_bad ,  {"For 2": df7_for2_bad, "For 4": df7_for4_bad,"For 6": df7_for6_bad, "Boxes": df7_boxes})
df7_DEL_fam_good = df_maker(df7_DEL_fam_good , {"For 2": df7_for2_good, "For 4": df7_for4_good,"For 6": df7_for6_good, "Boxes": df7_boxes},'Benihana')

In [19]:
df8_DEL_ndles_veg_ramen_bad  = pd.DataFrame(columns=['Noodle/Veg','Ramen'])
df8_DEL_ndles_veg_ramen_good = pd.DataFrame(columns=['Noodle/Veg','Ramen'])

df8_noodle_veg_bad = ['Seafood Diablo','Spcy Tofu Stk','Yaki Chicken','Yaki Shrimp','Yaki Steak','Yaki Trio']
df8_ramen_bad = ['RAMEN Chashu','RAMEN Miso',"RAMEN Rocky's",'RAMEN Sp Ch Gar','RAMEN Tonkotsu']

df8_noodle_veg_good = [i.replace("Spcy",'Sp').replace("Chicken",'Ckn').replace("Shrimp",'Shr').replace("Steak",'Stk') for i in df8_noodle_veg_bad]
df8_ramen_good = ["".join(i.split(" ")[1:] +[" "]+[i.split(" ")[0]]).replace("RAMEN","Ramen").replace("Ch","Ckn") for i in df8_ramen_bad]

df8_DEL_ndles_veg_ramen_bad = df_maker(df8_DEL_ndles_veg_ramen_bad, {"Noodle/Veg":df8_noodle_veg_bad,"Ramen":df8_ramen_bad})
df8_DEL_ndles_veg_ramen_good = df_maker(df8_DEL_ndles_veg_ramen_good, {"Noodle/Veg":df8_noodle_veg_good,"Ramen":df8_ramen_good},'Benihana')

In [20]:
df9_DEL_bev_dessert_bad  = pd.DataFrame(columns=['Soda Cans','Bottled Water','NA Bev','16 Oz Drinks','1/2 Gal Bags','Mochi','Cake'])
df9_DEL_bev_dessert_good = pd.DataFrame(columns=['Soda Cans','Bottled Water','NA Bev','16 Oz Drinks','1/2 Gal Bags','Mochi','Cake'])

df9_soda = ['Pepsi Can','Diet Pepsi Can','Mist Twist Can','Mountin Dew Can']
df9_water = ['Acqua Pna 500ML','San Pellegrino']
df9_NAbev = ['Red Bull','SF Red Bull','Tropi Red Bull','Ramune','Stwberry Ramune','Grape Ramune','IBC Root Beer','Betty Buzz LL','NA Blue Bonsai']
df9_16oz = ['Ben Bry Smothie','Ben Lmnd Mango','Ben Lmnd Pas Ft','Ben Lmnd Strwby','Ben Mkske Co/Cm','Ben Mkske Strwb','Mango Colada','Strwbr Pas Dlgt']
df9_half_gal = ['Ben Lemon bag','Ben Rasp Lem','Ben Mngo Lem','Ben Rasp Lem','Ben Strw Lem','Ben PsFr Lem','Iced Tea Bag']
df9_mochi = ['Mochi Combo','Mochi Green Tea','Mochi Mango','Mochi Strawbery']
df9_cake = ['Chocolate Cake','Chscake Traditn']
df9_cake_good = [i.replace("Chscake Traditn",'Cheesecake') for i in df9_cake]

df9_NAbev_good = [i.replace("Stwberry",'Strwb') for i in df9_NAbev]
df9_16oz_good = [i.replace("Mango","Mngo").replace("Strby",'Strwb').replace("Strwbr",'Strwb') for i in df9_16oz]
df9_half_gal_good = [i.replace("Lemon bag",'Lem Bag') for i in df9_half_gal]

df9_DEL_bev_dessert_bad = df_maker(df9_DEL_bev_dessert_bad,   {"Soda Cans": df9_soda,"Bottled Water":df9_water,"NA Bev":df9_NAbev , "16 Oz Drinks": df9_16oz,'1/2 Gal Bags': df9_half_gal,'Mochi': df9_mochi,'Cake':df9_cake })
df9_DEL_bev_dessert_good = df_maker(df9_DEL_bev_dessert_good, {"Soda Cans": df9_soda,"Bottled Water":df9_water,"NA Bev":df9_NAbev_good , "16 Oz Drinks": df9_16oz_good,'1/2 Gal Bags': df9_half_gal_good,'Mochi': df9_mochi,'Cake':df9_cake_good }, "Benihana")

In [21]:
df10_DEL_cktl_bad =  pd.DataFrame(columns=['1/2 Gal Bags','Cocktails','Cocktls for 2','Frozen','Kits'])
df10_DEL_cktl_good = pd.DataFrame(columns=['1/2 Gal Bags','Cocktails','Cocktls for 2','Frozen','Kits'])

df10_half_gal_bad = ['Ben Pnch 1/2gal','Mai Tai 1/2 gal','Bl Ocn Pnh1/2gl','Yuzu Marg 1/2gl','PrkPr Marg1/2gl','Hurr Pnch 1/2gl','WtPch Sng 1/2gl','RdPlm Sng 1/2gl']
df10_cocktail_bad = ['Ben Punch for 1','Mai Tai for 1','Bl Ocn Pn for 1','Yuzu Marg for 1','Pk Pr Mrg for 1','Hurr Pnch for 1','W Pch Sng for 1','R Plm Sng for 1']
df10_cocktail_for2_bad = ['Ben Punch for 2','Mai Tai for 2','Bl Ocn Pn for 2','Yuzu Marg for 2','Pk Pr Mrg for 2','Hurr Pnch for 2','W Pch Sng for 2','R Plm Sng for 2']
df10_frz = ['Frozen Mojito','Haiku Colada']
df10_kits = ['Beni Mule Kit','Bellini Kit','Mimosa Kit']

df10_half_gal_good = [i.replace("Pnh","Pch").replace("1/2gal",'1/2 gl').replace("1/2 gal","1/2 gl").replace("RdPlm",'R Plm').replace("Marg",'Mrg ').replace("for ","").replace("Pnch",'Pch').replace("Pn",'Pch').replace("1/2 gl",'1/2gl') for i in df10_half_gal_bad]
df10_cocktail_good = [i.replace("Punch","Pch").replace("for ","").replace("Pnch",'Pch').replace("Marg",'Mrg').replace("Pn","Pch") for i in df10_cocktail_bad]
df10_cocktail_for2_good = [i.replace("Punch","Pch").replace("for ","").replace("Pnch",'Pch').replace("Marg",'Mrg').replace("Pn","Pch") for i in df10_cocktail_for2_bad]

df10_DEL_cktl_bad  = df_maker(df10_DEL_cktl_bad, {'1/2 Gal Bags': df10_half_gal_bad,'Cocktails':df10_cocktail_bad,'Cocktls for 2':df10_cocktail_for2_bad,'Frozen':df10_frz,'Kits':df10_kits})
df10_DEL_cktl_good = df_maker(df10_DEL_cktl_good, {'1/2 Gal Bags': df10_half_gal_good,'Cocktails':df10_cocktail_good,'Cocktls for 2':df10_cocktail_for2_good,'Frozen':df10_frz,'Kits':df10_kits},'Benihana')

In [22]:
df11_br_sake_wine_bad = pd.DataFrame(columns=['Large Beers','12 Oz Beers','Bombers','Hard Seltzer','Sake','Wine'])
df11_br_sake_wine_good = pd.DataFrame(columns=['Large Beers','12 Oz Beers','Bombers','Hard Seltzer','Sake','Wine'])

df11_Lbeer = ['Asahi 22Oz','Sapporo 22Oz','Kirin 22Oz']
df11_12oz_beer = ['Asahi 12Oz','Kirin Light 12', 'Corona','Michelob Ultra']
df11_hseltzer = ['Hi-Noon Grpfrt']
df11_bombers = ['Kir22/SCB Ginjo','Kir 22/SCBNigoi','Kir22/TYKU Ske']
df11_sake = ['Beni SE 330ml','Hana Apple Btl','Hana Lychee Btl','Mio Sprkln300ml','Sh Ch Gij 300ml','Sh Ch Ngo 375ml','TYKU Coco 330ml','TYKU Cucu 330ml','Tyku Cucmbr Can']
df11_wine = ['14 Hands Btl','Coppola PG Btl','Kim Crwfrd SB','KJ Chard Btl','La Crema PN Btl','Lamarca 187 Btl','Martini Cab Btl','Plum Wine Btl']

df11_bombers_good = [i.replace(" 22/SCB",'22/SCB ') for i in df11_bombers]
df11_sake_good = [i.replace("tyku",'TYKU').replace("Cucmbr","Cucu") for i in df11_sake]

df11_br_sake_wine_bad =  df_maker(df11_br_sake_wine_good, {'Large Beers':df11_Lbeer,'12 Oz Beers':df11_12oz_beer,'Bombers':df11_bombers,'Hard Seltzer':df11_hseltzer,'Sake':df11_sake,'Wine':df11_wine })
df11_br_sake_wine_good = df_maker(df11_br_sake_wine_good, {'Large Beers':df11_Lbeer,'12 Oz Beers':df11_12oz_beer,'Bombers':df11_bombers_good,'Hard Seltzer':df11_hseltzer,'Sake':df11_sake_good,'Wine':df11_wine },'Benihana')

In [23]:
df12_specials_bad =  pd.DataFrame(columns=['Cocktails','Cocktls for 2','1/2 Gal Bags'])
df12_specials_good = pd.DataFrame(columns=['Cocktails','Cocktls for 2','1/2 Gal Bags','Single Use'])

df12_ctails = ['Merry Marg 1srv']
df12_ctails_for2 = ['Merry Marg 2srv']
df12_half_gal = ['Merry Marg 1/2g']
df12_single_use = ['Single Use Item','Stx & Cutlery','Soy Sauce Reg','Soy Sauce Low','Soy Sauce GF']

df12_half_gal.extend(df12_single_use)
df12_ctails_good = [i.replace("Marg","Mrg").replace("1srv",'1') for i in df12_ctails]
df12_ctails_for2_good = [i.replace("Marg","Mrg").replace("2srv",'2') for i in df12_ctails_for2]
df12_half_gal_good = [i.replace("Marg","Mrg").replace("1/2g",'1/2gl') if i not in df12_single_use else "-" for i in df12_half_gal]

df12_specials_bad  = df_maker(df12_specials_bad, {'Cocktails':df12_ctails,'Cocktls for 2':df12_ctails_for2,'1/2 Gal Bags':df12_half_gal})
df12_specials_good = df_maker(df12_specials_good, {'Cocktails':df12_ctails_good,'Cocktls for 2':df12_ctails_for2_good,'1/2 Gal Bags':df12_half_gal_good,"Single Use":df12_single_use},'Benihana')

In [24]:
df2_DEL_app_sides_good

         Appetizers            Sides Restaurant
0   Chili Pon Ytail       Beni Salad   Benihana
1   Crsp Rce Sp Slm  Brwn Rice 1 Srv   Benihana
2   Chili Pnzu Ytai   Calamari Saute   Benihana
3   Crsp Rce Sp Slm       HBR 1 Serv   Benihana
4   Crsp Rce Sp Tna       HCR 1 Serv   Benihana
5   Crsp Rce Sp Ytl       HSR 1 Serv   Benihana
6           Edamame        Miso Soup   Benihana
7       Onion Rings         Mushroom   Benihana
8        Gyoza Beef            Onion   Benihana
9     Gyoza Eda Veg       Onion Soup   Benihana
10       Gyoza Pork    Scallop Saute   Benihana
11     Gyoza Sp Chk    Seaweed Salad   Benihana
12   Hib Short Ribs  Seaweed Sal Cmb   Benihana
13     Ribs Sampler     Shrimp Saute   Benihana
14  Sal Avo Sashimi   Shrimp Tempura   Benihana
15  Sashimi Sampler  Soft Shell Crab   Benihana
16      Seared Tuna   Sp Seaweed Sal   Benihana
17           Sp Eda     Sp HBR 1 Srv   Benihana
18    Sushi Sampler     Sp HCR 1 Srv   Benihana
19         Takoyaki     Sp HSR 1 Srv   Benihana
20    Tuna Pokè App    Veg FR 1 Serv   Benihana
21  Wings Appetizer    Veg Mix Saute   Benihana
22                -      Veg Tempura   Benihana
23                -     White Noodle   Benihana
24                -         Zucchini   Benihana

In [25]:
df13_GS_bad =  pd.DataFrame(columns=['Apps/Sides','A La Carte','Rolls','Nigiri','Sashimi'])
df13_GS_good = pd.DataFrame(columns=['GS Appetizers','GS Sides','GS A La Carte','GS Sushi Rolls','GS Nigiri','GS Sashimi'])

df13_app_sides_bad = ['Beni Salad','Edamame','HCR',"Miso Soup",'Sashimi Sampler','Seared Tuna','Shrimp Saute','Spicy HCR']
df13_apps_good = ['Edamame','Sashi Samplr','Seared Tna','GS Sushi Samplr']
df13_sides_good = ['Beni Salad','HCR','Miso Soup','Shr Saute','Sp HCR']

df13_alacarte = ['Chicken 7Oz','Salmon 6Oz','Shrimp 16 pcs','Steak 7Oz']
df13_alacarte_good = ['Ckn 7oz','Slm 6oz','Shr 16pcs','Stk 7oz']

df13_rolls = ['Cucumber RL','Philly Roll','Salmon RL','Tuna Roll','Veg Roll','Yellowtail RL']
df13_rolls_good = ['Cucu RL','Philly RL','Slm RL','Tna RL','Veg RL','YTail RL']

df13_nigiri = ['Alb Tuna Nigiri','Octopus Nigiri','Salmon Nigiri','Shrimp Nigiri','Snapper Nigiri','Tuna Nigiri','Ytail Nigiri']
df13_nigiri_good =['Alb Tna Nigiri', 'Octopus Nigiri','Slm Nigiri','Shr Nigiri','Snapr Nigiri','Tna Nigiri','YTail Nigiri']

df13_sashi_bad = ['Alb Tuna Sashmi','Octopus Sashimi','Salmon Sashimi','Shrimp Sashimi','Snapper Sashimi','Tuna Sashimi','Ytail Sashimi']
df13_sashi_good = ['Alb Tna Sashi','Octopus Sashi','Slm Sashi','Shr Sashi','Snapr Sashi','Tna Sashi','Ytail Sashi']

df13_GS_bad = df_maker(df13_GS_bad, {'Apps/Sides':df13_app_sides_bad,'A La Carte':df13_alacarte,'Rolls':df13_rolls,'Nigiri':df13_nigiri,'Sashimi':df13_sashi_bad})
df13_GS_good = df_maker(df13_GS_good, {'Appetizers':df13_apps_good,'Sides':df13_sides_good,'A La Carte':df13_alacarte_good,'Sushi Rolls':df13_rolls_good,'Nigiri':df13_nigiri_good,'Sashimi':df13_sashi_good},'Benihana')

In [26]:
df14_cater_1_bad  = pd.DataFrame(columns=['Sides','Rice','Protein','Soup/Salad','Desserts'])
df14_cater_1_good = pd.DataFrame(columns=['CAT Appetizers','CAT Sides','CAT Rice','CAT Protein','CAT Desserts'])

df14_sides_bad = ['Edamame','Hib Vegetables','Pork Gyoza','Spring Rolls','Spicy Edamame']
df14_rice_bad = ['HCR','HCR w/Shrimp','HCR w/Steak','Spicy HCR','Steamed Rice']
df14_protein_bad = ['Colossal Shrimp','Hibachi Chicken','Hibachi Shrimp','Hibachi Steak','Seafood Udon','Teriyaki Steak','Wings','Yakisoba','Yakisoba w/Beef','Yakisoba w/Ckn','Yakisba w/Shrmp']
df14_soup_salad_bad = ['Benihana Salad','Benihana Soup','Miso Soup']
df14_desserts = ['Cheesecake','Chocolate Cake']

df14_appetizers = ['Edamame','Gyoza Pork','Sp Edamame']
df14_sides_good = ['Hib Veg','Spring RL', 'Beni Salad','Beni Soup','Miso Soup']
df14_rice_good = ['HCR','HCR w Shr','HCR w Stk','Sp HCR','Steamed Rice']
df14_protein_good = ['Col Shr','Hib Ckn','Hib Shr','Hib Stk','Seafood Udon','Teri Stk','Wings','Yaki','Yaki Beef','Yaki Ckn','Yaki Shr']

df14_desserts_good = ['Cheesecake','Chocolate Cake']


df14_cater_1_bad  = df_maker(df14_cater_1_bad, {'Sides':df14_sides_bad,'Rice':df14_rice_bad,'Protein':df14_protein_bad,'Soup/Salad':df14_soup_salad_bad,'Desserts':df14_desserts})
df14_cater_1_good = df_maker(df14_cater_1_good, {'CAT Appetizers':df14_appetizers,'CAT Sides':df14_sides_good,'CAT Rice':df14_rice_good,'CAT Protein':df14_protein_good,'CAT Desserts':df14_desserts_good},'Benihana')

In [27]:
df14_cater_1_good

,CAT Appetizers,CAT Sides,CAT Rice,CAT Protein,CAT Desserts,Restaurant
0,Edamame,Hib Veg,HCR,Col Shr,Cheesecake,Benihana
1,Gyoza Pork,Spring RL,HCR w Shr,Hib Ckn,Chocolate Cake,Benihana
2,Sp Edamame,Beni Salad,HCR w Stk,Hib Shr,-,Benihana
3,-,Beni Soup,Sp HCR,Hib Stk,-,Benihana
4,-,Miso Soup,Steamed Rice,Seafood Udon,-,Benihana
5,-,-,-,Teri Stk,-,Benihana
6,-,-,-,Wings,-,Benihana
7,-,-,-,Yaki,-,Benihana
8,-,-,-,Yaki Beef,-,Benihana
9,-,-,-,Yaki Ckn,-,Benihana
10,-,-,-,Yaki Shr,-,Benihana

In [28]:
df15_cater_2_bad  = pd.DataFrame(columns=['CAT Packages','CAT Platters','CAT Trays','Beverages'])
df15_cater_2_good = pd.DataFrame(columns=['CAT Packages','CAT Platters','CAT Trays','Beverages'])

df15_bev_bad = ['Ben Lemon bag','Ben Rasp Lem','Ben Mngo Lem','Ben Strw Lem','Ben PsFr Lem','Iced Tea Bag']

In [34]:
data = {'Date': ['2021-01-01', '2021-01-01', '2022-01-01', '2022-01-01'],
        'Category': ['Category_A', 'Category_A', 'Category_B', 'Category_B'],
        'Value': [10, 20, 30, 40]}

df = pd.DataFrame(data)
print(df)
# Check for and handle duplicate entries in 'Date'
if df['Date'].duplicated().any():
    # If there are duplicates, you may choose to aggregate or drop them
    df = df.groupby(['Date', 'Category'], as_index=False).agg({'Value': 'sum'})

print(df)
# Melt the DataFrame to transform it to long format
melted_df = pd.melt(df, id_vars=['Date'], var_name='Category', value_name='Value')

# Pivot the melted DataFrame
pivoted_df = melted_df.pivot(index='Date', columns='Category', values='Value').reset_index()

# Rename the columns if needed
pivoted_df.columns.name = None

# Display the result
print(pivoted_df)

         Date    Category  Value
0  2021-01-01  Category_A     10
1  2021-01-01  Category_A     20
2  2022-01-01  Category_B     30
3  2022-01-01  Category_B     40
         Date    Category  Value
0  2021-01-01  Category_A     30
1  2022-01-01  Category_B     70
         Date    Category Value
0  2021-01-01  Category_A    30
1  2022-01-01  Category_B    70

/Users/bryan/Library/Python/3.8/lib/python/site-packages/IPython/core/interactiveshell.py:3441: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  exec(code_obj, self.user_global_ns, self.user_ns)